<div>
    <h1>QUEM SOMOS</h1>
    <div>
        <div>
            <div>imagem</div>
            <h2>VISÃO</h2>
            <p>Se tornar base de conhecimento e disseminação de soluções descomplicadas</p>
        </div>
        <div>
            <div>imagem</div>
            <h2>MISSÃO</h2>
            <p>Auxiliar nossos clientes de forma técnica, desenvolvendo soluções e descomplicando processos.</p>
        </div>
        <div>
            <div>imagem</div>
            <h2>VALORES</h2>
            <p>Eficiência - Gratidão - Humanização - Respeito</p>
        </div>
    </div>
</div>
<div>
    <h1>QUEM SOMOS</h1>
    <p>A empresa ENGENHANDO SOLUÇÕES surgiu com a necessidade do mercado brasileiro em ter profissionais técnicos que
        sejam especializados em Normas Técnicas (NBR), Normas Regulamentadoras (NR) e Decretos Estaduais e Municipais,
        que trabalhem juntamente com órgãos públicos como: CREA, CONFEA, DETRAN CORPO DE BOMBEIROS, PREFEITURAS e etc...
        com a finalidade de agilizar documentações e processos empresariais.</p>
    <p>Somos uma empresa com profissionais de vasta experiência no mercado brasileiro, com a missão de inovar todo esse
        sistema burocrático e ineficaz que faz com que a cada dia mais arquemos com todo esse ônus do passado.</p>
        <a class="link-button" href="https://wa.me/47997265827" target="_blank">
            Fale conosco
        </a>
</div>
<div class="display-flex flex-direction-row">
    <div>
        <h2>CONHEÇA O ENG° DIEGO ZEFERINO</h2>
        <p>DIEGO ZEFERINO é Engenheiro Mecânico, Mentor e Fundador da empresa DMS Instalações, escritório de Engenharia
            Mecânica que presta Serviços para Grandes Empresas da Mecânica e atua em todo o Brasil. Atualmente, é umas
            das
            maiores autoridades em Vistoria Técnica, Laudo Técnico e A.R.T. na Engenharia Mecânica e conta com mais de
            1600
            alunos no seu Treinamento do Engenheiro Mecânico Autônomo, onde ensina como esse Engenheiro Mecânico pode
            atuar
            como Autônomo nas principais áreas da Mecânica e conquistar o PROTAGONISMO na sua Vida.</p>
    </div>
    <div>
        foto
    </div>
</div>