<div class="flex flex-col xl:px-8 xl:flex-row xl:justify-between">
  <div
    class="flex flex-col gap-4 w-5/6 m-auto text-center lg:my-20 xl:gap-2 xl:w-5/12 xl:m-0" style="background-image: url(/../../assets/images/dms-logo.jpeg); background-repeat: no-repeat; background-size: contain;"
  >
  <div class="flex flex-col gap-4 justify-center w-5/6 m-auto text-center lg:my-20 xl:gap-2 xl:w-5/12 xl:m-0" style="align-items: center; background: rgba( 255, 255, 255, 0.45 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 5.5px );
-webkit-backdrop-filter: blur( 5.5px );
border: 1px solid rgba( 255, 255, 255, 0.18 ); height: 94%; width: 100%;">
    <h1 class="text-4xl font-bold font-sans xl:text-left">
      SOLUÇÕES DE ENGENHARIA MECÂNICA
    </h1>
    <p
      class="text-balance text text-xl font-normal lg:text-2xl lg:w-3/4 lg:m-auto lg:my-8 xl:text-left xl:mx-0"
    >
      Somos um Escritório de Engenharia Mecânica Especializado em Visitas
      Técnicas, Laudos Técnicos e A.R.T. para diversos Equipamentos Mecânicos.
    </p>
    <div
      class="w-full flex flex-col items-center gap-2 lg:flex-row lg:gap-8 lg:justify-between"
    >
      <a
        class="bg-secondary w-11/12 p-4 px-6 text-xl none text-center lg:w-2/5 xl:px-4 xl:w-1/2 transition-all duration-500 hover:invert cursor-pointer border border-blue-300 shadow-lg"
        style="text-decoration: none; border-radius: 50px; margin: auto;"
        href="https://wa.me/47997265827"
        target="_blank"
      >
        Orçamento via Whatsapp
      </a>
    </div>
    </div>
  </div>
  <div class="carousel-contai ner h-full my-6 w-full xl:w-5/12">
    <section
      class="m-4 relative overflow-hidden bg-white"
      (mouseenter)="mouseEnter()"
      (mouseleave)="mouseLeave()"
    >
      <button
        class="slide-arrow hover:opacity-100 left-0 pl-1 border-r-8 border-b-8"
        id="#slide-arrow-prev"
        #slideArrowPrev
      >
        &#8249;
      </button>
      <button
        class="slide-arrow hover:opacity-100 right-0 pl-3 border-t-8 border-l-8"
        id="slide-arrow-next"
        #slideArrowNext
      >
        &#8250;
      </button>
      <ul
        class="h-5/6 w-full flex overflow-hidden scroll-smooth list-none m-0 p-0"
        id="slides-container"
        #slidesContainer
      >
        <li class="slide" #slide>
          <div class="slide-div">
            <h2 class="slide-div-h2 font-medium text-2xl mb-4 xl:text-3xl">
              NR13 - Inspeção de Caldeiras
            </h2>
            <p class="slide-div-p text-lg md:text-xl">
              <strong>Referência:</strong>
              A inspeção em vasos de pressão no Brasil é regulamentada pela
              Norma Regulamentadora (NR) 13, que aborda os requisitos mínimos
              para a gestão da integridade estrutural de vasos de pressão,
              caldeiras, tubulações e tanques metálicos de armazenamento
              <br /><br />
              <strong>Quem deve emitir:</strong>
              O laudo técnico de NR13 deve ser emitido por um engenheiro
              mecânico acompanhado de Anotação de Responsabilidade Técnica
              (ART).
              <br /><br />
              <strong>Onde aplicar:</strong>
              Caldeiras, vasos de pressão, tubulações e tanques metálicos de
              armazenamento.
            </p>
          </div>
          <img
            class="slide-div-img md:h-auto md:w-7/12 md:m-auto lg:w-1/2"
            src="../../../assets/images/inspecao-em-caldeiras-nr-13.jpg"
          />
        </li>
        <li class="slide">
          <div class="slide-div">
            <h2 class="slide-div-h2 text-2xl mb-4 xl:text-3xl">
              NR13 - Inspeção de Vaso de Pressão
            </h2>
            <p class="slide-div-p text-lg md:text-xl">
              <strong>Referência:</strong>
              A inspeção em vasos de pressão no Brasil é regulamentada pela
              Norma Regulamentadora (NR) 13, que aborda os requisitos mínimos
              para a gestão da integridade estrutural de vasos de pressão,
              caldeiras, tubulações e tanques metálicos de armazenamento
              <br /><br />
              <strong>Quem deve emitir:</strong>
              O laudo técnico de NR13 deve ser emitido por um engenheiro
              mecânico acompanhado de Anotação de Responsabilidade Técnica
              (ART).
              <br /><br />
              <strong>Onde aplicar:</strong>
              Caldeiras, vasos de pressão, tubulações e tanques metálicos de
              armazenamento.
            </p>
          </div>
          <img
            class="slide-div-img md:h-auto md:w-7/12 md:m-auto lg:w-1/2"
            src="../../../assets/images/vaso de pressao.jpg"
          />
        </li>
        <li class="slide">
          <div class="slide-div">
            <h2 class="slide-div-h2 text-2xl mb-4 xl:text-3xl">
              NR12 - Seguranças em Máquinas e Equipamentos
            </h2>
            <p class="slide-div-p text-lg md:text-xl">
              <strong>Referência:</strong>
              A NR-12, aborda a segurança no trabalho com máquinas e
              equipamentos, é regulamentada pela Lei 6.514, de 22 de dezembro de
              1977. Esta norma estabelece os requisitos mínimos para garantir a
              segurança dos trabalhadores que utilizam, fabricam, importam,
              expõem e comercializam máquinas e equipamentos
              <br /><br />
              <strong>Onde aplicar:</strong>
              Se aplica a todas as máquinas e equipamentos, novos e usados, que
              possam gerar riscos de natureza mecânica, elétrica, química ou
              física.
            </p>
          </div>
          <img
            class="slide-div-img md:h-auto md:w-7/12 md:m-auto lg:w-1/2"
            src="../../../assets/images/nr12-maquina-e-equipamento.jpg"
          />
        </li>
        <li class="slide">
          <div class="slide-div">
            <h2 class="slide-div-h2 text-2xl mb-4 xl:text-3xl">
              PMOC - Plano de Manutenção, Operação e Controle de Sistemas de
              Climatização
            </h2>
            <p class="slide-div-p text-lg md:text-xl">
              <strong>Referência:</strong>
              O Art. 3º da Lei nº 13.589, de 04 de janeiro de 2018 estabelece
              que os Sistemas de climatização de ambientes e seus Planos de
              Manutenção, Operação e Controle - PMOC devem obedecer a parâmetros
              de qualidade do ar em ambientes climatizados artificialmente, em
              especial no que diz respeito a poluentes de natureza física,
              química e biológica, suas tolerâncias e métodos de controle, assim
              como obedecer aos requisitos estabelecidos nos projetos de sua
              instalação.
              <br /><br />
              <strong>Onde aplicar:</strong>
              A lei abrange todos os edifícios que recebem o público, como
              escolas, hospitais, shopping centers, edifícios comerciais, entre
              outros. A lei aplica-se a qualquer sistema de ar condicionado ou
              outro sistema que modifique as condições ambientais de
              temperatura, umidade, etc
            </p>
          </div>
          <img
            class="slide-div-img md:h-auto md:w-7/12 md:m-auto lg:w-1/2"
            src="../../../assets/images/pnoc.webp"
          />
        </li>
        <li class="slide">
          <div class="slide-div">
            <h2 class="slide-div-h2 text-2xl mb-4 xl:text-3xl">
              Reclassificação de Monta
            </h2>
            <p class="slide-div-p text-lg md:text-xl">
              <strong>Referência:</strong>
              A Resolução CONTRAN Nº 810, DE 15 DE DEZEMBRO DE 2020 dispõe sobre
              a classificação de danos e os procedimentos para a regularização,
              a transferência e a baixa dos veículos envolvidos em acidentes
              <br /><br />
              <strong>Onde aplicar:</strong>
              Este recurso pode ser aplicado em veículos que tenham suas avarias
              resultantes em classificação como “Média Monta” ou “Grande Monta”
            </p>
          </div>
          <img
            class="slide-div-img md:h-auto md:w-7/12 md:m-auto lg:w-1/2"
            src="../../../assets/images/reclassificacao-de-monta.jpg"
          />
        </li>
        <li class="slide">
          <div class="slide-div">
            <h2 class="slide-div-h2 text-2xl mb-4 xl:text-3xl">
              Laudo Técnico - Playgrounds Infantis e Brinquedos
            </h2>
            <p class="slide-div-p text-lg md:text-xl">
              <strong>Referência:</strong>
              A Lei Estadual nº 16.517/2014, de Santa Catarina, estabelece que
              os estabelecimentos com áreas de lazer para crianças devem ter
              laudo técnico e Anotação de Responsabilidade Técnica (ART).
              <br /><br />
              <strong>Onde aplicar:</strong>
              A lei se aplica a diversos estabelecimentos, como buffets
              infantis, escolas, parques de diversões, shoppings centers,
              empresas de locação de brinquedos, condomínios, hotéis,
              restaurantes, fast-foods e eventos.
            </p>
          </div>
          <img
            class="slide-div-img md:h-auto md:w-7/12 md:m-auto lg:w-1/2"
            src="../../../assets/images/playground.jpg"
          />
        </li>
        <li class="slide">
          <div class="slide-div">
            <h2 class="slide-div-h2 text-2xl mb-4 xl:text-3xl">
              Laudo Técnico - Sistemas de Exaustão em Cozinhas
            </h2>
            <p class="slide-div-p text-lg md:text-xl">
              <strong>Referência:</strong>
              De acordo com a NBR 14518, que estabelece os princípios gerais
              para projeto, instalação, operação, manutenção e ensaio de
              sistemas de ventilação em cozinhas profissionais, com ênfase na
              segurança contra incêndio e no controle ambiental.
              <br /><br />
              <strong>Onde aplicar:</strong>
              A realização do laudo técnico é uma exigência legal para cozinhas
              industriais, profissionais, principalmente alocadas em edifícios
              públicos, shopping centers, edifícios comerciais, entre outros que
              devem estar em conformidade com as normas da ANVISA e do Corpo de
              Bombeiros.
            </p>
          </div>
          <img
            class="slide-div-img md:h-auto md:w-7/12 md:m-auto lg:w-1/2"
            src="../../../assets/images/exaustao.jpg"
          />
        </li>
        <li class="slide">
          <div class="slide-div">
            <h2 class="slide-div-h2 text-2xl mb-4 xl:text-3xl">
              Laudo técnico - Máquinas Pesadas
            </h2>
            <p class="slide-div-p text-lg md:text-xl">
              <strong>Referência:</strong>
              Um laudo técnico de máquinas pesadas, conforme as NRs do
              Ministério do Trabalho, é um documento que atesta as condições de
              segurança e funcionamento de equipamentos utilizados em
              transporte, movimentação, armazenagem e manuseio de materiais.
              <br /><br />
              <strong>Onde aplicar:</strong>
              Empilhadeiras, Pontes Rolantes, Caminhão Munck, Monta Carga,
              Talhas Elétricas e etc... Mantenha seus Equipamentos com
              segurança, conformidade, eficiência e documentação.
            </p>
          </div>
          <img
            class="slide-div-img md:h-auto md:w-7/12 md:m-auto lg:w-1/2"
            src="../../../assets/images/mqpesada.jpg"
          />
        </li>
      </ul>
    </section>
  </div>
</div>
