<div style="min-height: 80vh; max-width: 100vw; overflow: hidden;">
    <h1 style="text-align: center;">Nossos Clientes</h1>
    <ul>
        <div style="display: flex; justify-content: space-evenly; list-style-type: none; flex-wrap: wrap;">
            <li>
                <img src="../../assets/images/alya.png" style="width: 200px">
            </li>
            <li>
                <img src="../../assets/images/grameira.jpg" style="width: 200px">
            </li>
            <li>
                <img src="../../assets/images/cliente.jpeg" style="width: 200px">
            </li>
            <li>
                <img src="../../assets/images/logo-slogan.svg" style="width: 200px">
            </li>
        </div>
    </ul>
</div>